.popup {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	background-color: rgba($color: $color-black, $alpha: 0.8);
	z-index: 99999;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;

	&__content {
		@include absCenter;

		background-color: $color-white;
		width: 90%;
		max-width: 119rem;
		box-shadow: 0 2rem 4rem rgba($color: $color-black, $alpha: 0.2);
		border-radius: 3px;
		overflow: hidden;
		display: table;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.2);
		transition: all 0.5s 0.2s;
	}

	&__left,
	&__right {
		display: table-cell;
		vertical-align: middle;
	}

	&__left {
		width: 33.33333%;
	}

	&__right {
		width: 66.66667%;
		padding: 2rem 5rem;
	}

	&__image {
		display: block;
		width: 100%;
	}

	&__text {
		font-size: 1.4rem;
		margin-bottom: 3rem;
		column-count: 2;
		column-gap: 4rem;
		column-rule: 1px solid $color-grey-light2;
		hyphens: auto;
	}

	&:target {
		opacity: 1;
		visibility: visible;
	}

	&:target &__content {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	&__close {
		&:link,
		&:visited {
			color: $color-grey-dark;
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			font-size: 3rem;
			text-decoration: none;
			display: inline-block;
			transition: all 0.2s;
			line-height: 1;
			outline: none;
		}

		&:hover {
			color: $color-primary;
		}
	}

	@include responsive(tab-land) {

		&__left,
		&__right {
			display: block;
			width: 100%;
		}

		&__left {
			@include clearfix;
			height: 33%;
			overflow: hidden;
		}

		&__right {
			position: relative;
			top: 0px;
			left: 0px;
		}

		&__image {
			width: 50%;
			float: left;
			clip-path: polygon(0 0, 100% 0, 100% 30vw, 0 30vw);
		}

		&__close {
			&:link {
				top: .5rem;
				right: 1rem;
			}
		}

	}
}
